.ui.logoimage.image {
  color: darkgreen;
}

.grad {
  background: url('http://courses.ics.hawaii.edu/ics314f20/morea/ui-frameworks/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 1000px;
}

.ui.borderless.topmenu {
  box-shadow: none;
  border: none;
}

.ui.iwantthis{
  padding-top: 250px;
}

.mytext {
  padding-top: 300px;
  color: white;
  font-size: 20px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}